body{
    background-color: black;
    color: white;
    text-align: center;
}

    #tudo{
        padding: 0;
        margin-top: 0;
        margin-left: 2%;
        width: 95%;
        min-height: 95vh;
        border: white thick groove;
    }
    
        #cabecalho{
            padding-top: 2%;
            margin: 0;
            min-height: 8vh;
            border: white thick groove;
        }
        
        #meio{
            margin: 0;
            min-height: 67vh;
            border: white thick groove;
        }
        
            #nav{
                float: left;
                margin: 0;
                width: 20%;
                min-height: 65vh;
                border: white thick groove;
            }   
            
                #tituloDoNav{
                    padding-top: 2%;
                    margin: 0;
                    min-height: 4vh;
                    border: white thick groove;
                }   
                
                .divDoPeriodo{                    
                    padding-top: 8%;
                    margin-top: 0;
                    min-height: 8vh;
                    border: white thick groove;
                }
                
                    .selectDoPeriodo{
                        width: 90%;
                    }
            
            #direita{
                margin-left: 21%;
                min-height: 65vh;
                border: white thick groove;
            } 
            
                #barraDeMenu{
                    padding: 0;
                    margin: 0;
                    min-height: 6vh;
                    border: white thick groove;
                }
                
                    #espacadorDeMenu{
                        float: left;
                        padding: 0;
                        margin: 0;
                        width: 15%;
                        min-height: 4vh;
                        border: white thick groove;
                    }
                    
                    menu{
                        float: left;
                        padding: 0;
                        margin: 0;                 
                        width: 15%;
                        min-height: 4vh;
                        border: white thick groove;
                    }
                    
                        .botao{
                            text-decoration: none;
                            color: white;
                        }
                        
                        menu:hover {
                            background-color: white;
                        }
                        
                        menu:hover .botao{
                            color: black;
                        }
        
        #rodape{
            margin: 0;
            min-height: 12vh;
            border: white thick groove;
        }